<div class="row col-md-5 mt-5 mx-auto card p-0">

  <p class="card-header text-center">Connexion à Mediscreen</p>

  <form action="" class="col-md-12">

    <div class="form-group has-icon mt-3">
      <span class="fa fa-envelope form-control-feedback"></span>
      <input type="email" class="form-control" name="username" [(ngModel)]="username" id="email" placeholder="Email">
    </div>

    <div class="form-group has-icon mt-4">
      <span class="fa fa-lock form-control-feedback"></span>
      <input type="password" name="password" [(ngModel)]="password" id="password" placeholder="Mot de passe" class="form-control">
    </div>

    <p class="mx-auto text-center mt-5">
      <input type="checkbox" id="rememberme" checked>
      <label for="rememberme">&nbsp;Se souvenir de moi</label>
    </p>

    <div class="mx-auto text-center mt-5">
      <p>
        <input class="btn btn-primary col-md-4"  type="submit" name="Login" id="go" value="Se connecter" (click)="login()">
      </p>
      <p>
        Pas de compte ? <a [routerLink]="['/register']">Enregistrez vous !</a>
      </p>
    </div>
  </form>


  <div *ngIf="error" class="mx-auto alert-danger mb-2">{{ error }}</div>
</div>
