<div class="card mx-auto p-2" [hidden]="!formVisible">
  <form class="form-group mt-3" [formGroup]="noteForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <textarea type="text" class="form-control" id="noteContent" formControlName="noteContent" placeholder="Type new note here ..." rows="3"></textarea>
    </div>
    <button class="btn btn-primary">Save</button>
    <input type="button" class="btn btn-danger" [hidden]="isAddMode" (click)="editMode(false)" value="Cancel">
  </form>
</div>
<ng-container *ngIf="note">
  <div class="topRight">
    <a class="mr-2 clickable_icon" (click)="editMode(true)"><i class="bi bi-pencil"></i></a>
    <a class="mr-2 clickable_icon" (click)="deleteNote()"><i class="bi bi-trash"></i></a>
  </div>
  <p class="m-2 pr-5" [hidden]="formVisible">{{ note.content }} </p>
  <p class="note_date"> created : {{ note.creationDate }} / last update : {{ note.lastUpdateDate }}</p>
</ng-container>

