<div *ngIf="patients$ | async as patients; else elseTemplate" class="patient col-md-10 m-auto">
  <a [routerLink]="['patient/add']" class="btn btn-primary mb-2"><i class="bi bi-person-plus"></i></a>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Last Name</th>
        <th scope="col">First Name</th>
        <th scope="col">Birthdate</th>
        <th scope="col">Sex</th>
        <th scope="col">Address</th>
        <th scope="col">Phone</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let patient of patients!">
        <td><a [routerLink]="['/patient', patient.id]">  {{ patient.lastName }}</a></td>
        <td>{{ patient.firstName }} </td>
        <td>{{ patient.birthdate }}</td>
        <td>{{ patient.sex }}</td>
        <td>{{ patient.address }}</td>
        <td>{{ patient.phone }}</td>
      </tr>
  </tbody>
  </table>
</div>
<ng-template #elseTemplate>
Impossible de se connecter au serveur.
</ng-template>
