<div *ngIf="patients$ | async as patients; else elseTemplate" class="patient col-md-6">
  <a [routerLink]="['patient/add']" class="btn btn-primary">Ajouter un patient</a>
  <table >
    <thead>
      <tr>
        <th colspan="6">Patients</th>
      </tr>
      <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Birthdate</th>
        <th>Sex</th>
        <th>Address</th>
        <th>Phone</th>
      </tr>

    </thead>
    <tr *ngFor="let patient of patients!">
      <td><a [routerLink]="['/patient', patient.id]">  {{ patient.lastName }}</a></td>
      <td>{{ patient.firstName }} </td>
      <td>{{ patient.birthdate }}</td>
      <td>{{ patient.sex }}</td>
      <td>{{ patient.address }}</td>
      <td>{{ patient.phone }}</td>
    </tr>
  </table>
</div>
<ng-template #elseTemplate>
Impossible de se connecter au serveur.
</ng-template>
